<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TodolistDynamic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.database.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.database.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addremainder</display-name>
    <servlet-name>Addremainder</servlet-name>
    <servlet-class>com.database.Addremainder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addremainder</servlet-name>
    <url-pattern>/Addremainder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteremainder</display-name>
    <servlet-name>Deleteremainder</servlet-name>
    <servlet-class>com.database.Deleteremainder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteremainder</servlet-name>
    <url-pattern>/Deleteremainder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.database.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>com.database.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>